<!DOCTYPE html>
<html lang="en">
<body>
<table style="border-collapse: collapse; border: medium; border-spacing: 0px;">
	<tr>
		<td style="padding-right: 3pt; padding-left: 3pt;">
  <b>section</b>
		</td>
		<td style="padding-right: 3pt; padding-left: 3pt;">
  <b>start</b>
		</td>
		<td style="padding-right: 3pt; padding-left: 3pt;">
  <b>end</b>
		</td>
	</tr>
	<tr>
		<td style="padding-right: 3pt; padding-left: 3pt;">
			0
		</td>
		<td style="padding-right: 3pt; padding-left: 3pt;">
			0
		</td>
		<td style="padding-right: 3pt; padding-left: 3pt;">
			1
		</td>
	</tr>
	<tr>
		<td style="padding-right: 3pt; padding-left: 3pt;">
			1
		</td>
		<td style="padding-right: 3pt; padding-left: 3pt;">
			2
		</td>
		<td style="padding-right: 3pt; padding-left: 3pt;">
			3
		</td>
	</tr>
	<tr>
		<td style="padding-right: 3pt; padding-left: 3pt;">
			10
		</td>
		<td style="padding-right: 3pt; padding-left: 3pt;">
			17
		</td>
		<td style="padding-right: 3pt; padding-left: 3pt;">
			18
		</td>
	</tr>
	<tr>
		<td style="padding-right: 3pt; padding-left: 3pt;">
			100
		</td>
		<td style="padding-right: 3pt; padding-left: 3pt;">
			123
		</td>
		<td style="padding-right: 3pt; padding-left: 3pt;">
			124
		</td>
	</tr>
	<tr>
		<td style="border-bottom: 2px solid black; padding-right: 3pt; padding-left: 3pt;">
			10001
		</td>
		<td style="border-bottom: 2px solid black; padding-right: 3pt; padding-left: 3pt;">
			597
		</td>
		<td style="border-bottom: 2px solid black; padding-right: 3pt; padding-left: 3pt;">
			0
		</td>
	</tr>
</table>
</body>
</html>