<!DOCTYPE html>
<html lang="en">
<body>
<table style="border-collapse: collapse; border: medium; border-spacing: 0px;">
	<tr>
		<td style="padding-right: 3pt; padding-left: 3pt;">
  <b>node</b>
		</td>
		<td style="padding-right: 3pt; padding-left: 3pt;">
  <b>limit</b>
		</td>
		<td style="padding-right: 3pt; padding-left: 3pt;">
  <b>type</b>
		</td>
		<td style="padding-right: 3pt; padding-left: 3pt;">
  <b>dg</b>
		</td>
	</tr>
	<tr>
		<td style="padding-right: 3pt; padding-left: 3pt;">
			20225
		</td>
		<td style="padding-right: 3pt; padding-left: 3pt;">
			724.4
		</td>
		<td style="padding-right: 3pt; padding-left: 3pt;">
			Surcharge
		</td>
		<td style="padding-right: 3pt; padding-left: 3pt;">
			724.4
		</td>
	</tr>
	<tr>
		<td style="padding-right: 3pt; padding-left: 3pt;">
			2925
		</td>
		<td style="padding-right: 3pt; padding-left: 3pt;">
			17422.4
		</td>
		<td style="padding-right: 3pt; padding-left: 3pt;">
			Flux inversé au régulateur
		</td>
		<td style="padding-right: 3pt; padding-left: 3pt;">
			0
		</td>
	</tr>
	<tr>
		<td style="padding-right: 3pt; padding-left: 3pt;">
			349
		</td>
		<td style="padding-right: 3pt; padding-left: 3pt;">
			9124
		</td>
		<td style="padding-right: 3pt; padding-left: 3pt;">
			Surcharge
		</td>
		<td style="padding-right: 3pt; padding-left: 3pt;">
			0
		</td>
	</tr>
	<tr>
		<td style="padding-right: 3pt; padding-left: 3pt;">
			20256
		</td>
		<td style="padding-right: 3pt; padding-left: 3pt;">
			292.7
		</td>
		<td style="padding-right: 3pt; padding-left: 3pt;">
			Surcharge
		</td>
		<td style="padding-right: 3pt; padding-left: 3pt;">
			292.7
		</td>
	</tr>
	<tr>
		<td style="border-bottom: 2px solid black; padding-right: 3pt; padding-left: 3pt;">
			350
		</td>
		<td style="border-bottom: 2px solid black; padding-right: 3pt; padding-left: 3pt;">
			9090.7
		</td>
		<td style="border-bottom: 2px solid black; padding-right: 3pt; padding-left: 3pt;">
			Surcharge
		</td>
		<td style="border-bottom: 2px solid black; padding-right: 3pt; padding-left: 3pt;">
			0
		</td>
	</tr>
</table>
</body>
</html>